
.jumbotron{
    border-radius: 0;
    background-image: url('../img/fondo_banner.jpg');
    color: whitesmoke;
}

.row .content{
    height: 650px;
}

footer{
    background-color: black;
    padding: 25px;
    color: whitesmoke;
}